nvidia-nvjitlink-cu12==12.2.140
nvidia-nccl-cu12==2.16.5
nvidia-cusparse-cu12==12.1.2.141
nvidia-cusolver-cu12==11.5.2.141
nvidia-curand-cu12==10.3.3.141
nvidia-cufft-cu12==11.0.8.103
nvidia-cudnn-cu12==8.9.4.25
nvidia-cuda-runtime-cu12==12.2.140
nvidia-cuda-nvrtc-cu12==12.2.140
nvidia-cuda-cupti-cu12==12.2.142
nvidia-cublas-cu12==12.2.5.6 
ca-certificates==2024.3.11
cuda-cccl==12.2.53
cuda-command-line-tools==12.2.0
cuda-compiler==12.2.0
cuda-cudart==12.2.53
cuda-cudart-dev==12.2.53
cuda-cudart-static==12.2.53
cuda-cuobjdump==12.2.53
cuda-cupti==12.2.60
cuda-cupti-static==12.2.60
cuda-cuxxfilt==12.2.53
cuda-documentation==12.2.53
cuda-driver-dev==12.2.53
cuda-gdb==12.2.53
cuda-libraries==12.2.0
cuda-libraries-dev==12.2.0
cuda-libraries-static==12.2.0
cuda-nsight==12.2.53
cuda-nsight-compute==12.2.0
cuda-nvcc==12.2.91
cuda-nvdisasm==12.2.53
cuda-nvml-dev==12.2.81
cuda-nvprof==12.2.60
cuda-nvprune==12.2.53
cuda-nvrtc==12.2.91
cuda-nvrtc-dev==12.2.91
cuda-nvrtc-static==12.2.91
cuda-nvtx==12.2.53
cuda-nvvp==12.2.60
cuda-opencl==12.2.53
cuda-opencl-dev==12.2.53
cuda-profiler-api==12.2.53
cuda-sanitizer-api==12.2.53
cuda-toolkit==12.2.0
cuda-tools==12.2.0
cuda-visual-tools==12.2.0
gds-tools==1.7.0.149
ld_impl_linux-64==2.38
libcublas==12.2.1.16
libcublas-dev==12.2.1.16
libcublas-static==12.2.1.16
libcufft==11.0.8.15
libcufft-dev==11.0.8.15
libcufft-static==11.0.8.15
libcufile==1.7.0.149
libcufile-dev==1.7.0.149
libcufile-static==1.7.0.149
libcurand==10.3.3.53
libcurand-dev==10.3.3.53
libcurand-static==10.3.3.53
libcusolver==11.5.0.53
libcusolver-dev==11.5.0.53
libcusolver-static==11.5.0.53
libcusparse==12.1.1.53
libcusparse-dev==12.1.1.53
libcusparse-static==12.1.1.53
libffi==3.4.4
libgcc-ng==11.2.0
libgomp==11.2.0
libnpp==12.1.1.14
libnpp-dev==12.1.1.14
libnpp-static==12.1.1.14
libnvjitlink==12.2.91
libnvjitlink-dev==12.2.91
libnvjpeg==12.1.1.14
libnvjpeg-dev==12.1.1.14
libnvjpeg-static==12.1.1.14
libstdcxx-ng==11.2.0
libuuid==1.41.5
ncurses==6.4
nsight-compute
openssl==3.0.13
pip==23.3.1
python==3.10.14955
readline==8.25
setuptools==68.2.2
sqlite==3.41.25
tk==8.6.121
tzdata==2024a04
wheel==0.41.2
xz==5.4.65
zlib==1.2.135